* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: 0.14s;
}
label {
  cursor: pointer;
}

#calc-input:focus-visible,
#people-input:focus-visible,
#custom-input:focus-visible {
  border-color: rgb(38, 194, 174);
  background: rgb(243, 249, 250);
}

.container {
  padding: 20px 0;
  max-width: 425px;
  margin: 0 auto;
}

.input-person-block {
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.output-fields {
  margin: 30px auto 30px;
  max-width: 500px;
  background: rgb(197, 228, 231);
  border: 2px solid rgb(0, 71, 75);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 3px;
  padding: 15px 10px 15px;
}
.row {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.bill-header {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}
#calc-input, #people-input {
  width: 100%;
  font-size: 24px;
  padding: 10px 20px;
  border: 2px solid rgb(0, 71, 75);
  border-radius: 3px;
  outline: none;
  margin-top: 20px;
  margin-right: 5px;
}
.cancel-button {
  position: absolute;
  bottom: 14px;
  right: 13px;
  border: 0;
  background: transparent;
}
.cancel-button i {
  font-size: 24px;
  cursor: pointer;
}
#calculated,
#calculated-per-person {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.calc-btn {
  font-size: 24px;
  text-align: center;
  width: 45%;
  padding: 10px 20px;
  border: 2px solid rgb(0, 71, 75);
  border-radius: 3px;
  background: rgb(0, 71, 75);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.active {
  background: rgb(38, 194, 174);
  border-color: rgb(38, 194, 174);
}
.custom-btn {
  display: flex;
}
#custom-input {
  width: 140px !important;
  font-size: 24px;
  text-align: center;
  width: 220px;
  padding: 10px 20px;
  border: 2px solid rgb(0, 71, 75);
  color: rgb(0, 71, 75);
  border-radius: 3px 0 0 3px;
  border-right: 0;
  color: black;
  outline: none;
}
.text-area {
  font-size: 20px;
}

#custom-btn {
  width: 50px;
  font-size: 14px;
  border: 2px solid rgb(0, 71, 75);
  background: rgb(0, 71, 75);
  color: rgb(255, 255, 255);
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

#del-btn {
  width: 100%;
  height: 80px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  background: rgb(0, 71, 75);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 0;
}
#del-btn:active,
#custom-btn:active {
  background: rgba(0, 71, 75, 0.8);
}

.plus-btn-text:hover{
  color: rgba(0, 71, 75, 0.5);
}
.toggle-btn {
  display: flex;
  align-items: center;
  width: 250px;
  gap: 15px;
  margin-bottom: 30px;
  color: rgba(0, 71, 75, 0.5);
}
#toggle {
  display: none;
  transition: all 1s;
}
#toggle:checked ~ .input-person-block {
  opacity: 1;
  visibility: visible;
  height: 220px;
  margin-bottom: 30px
}
.plus-btn-text .fa-solid {
  width: 42.5px;
}
.fa-plus {
  background: rgba(0, 71, 75, 0.5);
  color: rgb(255, 255, 255);
  padding: 12px 15px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.plus-btn-text{
  display: inline-block;
  color: rgba(0, 71, 75, 0);
  font-size: 14px;
}
.toggle-btn:hover .toggle-par {
  opacity: 1;
}
.toggle-par {
  opacity: 0;
}

@media only screen and (max-width: 400px) {
  .row {
    gap: 20px;
  }
  .calc-btn, #custom-input {
    display: block;
    width: 100%;
  }
  #custom-input {
    width: 100% !important;
  }
}